.input{
  position: relative;
  max-width: 100%;
   background:    url('/assets/images/input.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    border:none;
}
