bower_components
node_modules
*.log
.DS_Store
*.obj
*.mp4
*.png
*.app
assets
npm-debug.log.*
www-assets
frontend/dist/assets/images
frontend/dist/assets/json
frontend/dist/assets/svg
docs

DeuxTube-darwin-x64*
dist/bundle*
dist/css/
chewb/bundle.js
