// font families
$ff-base: 'lulo', 'Courier New', 'Helvetica', 'Arial', sans-serif;
$ff-lulobold: 'lulobold', 'Helvetica', 'Arial', sans-serif;
//$ff-lulotwo: 'lulotwo', 'Helvetica', 'Arial', sans-serif;

// font sizes
$fs-title--main: 22px;
$fs-title: 16px;
$fs-base: 15px;
$fs-desc: 12px;
