@import 'colors';
@import 'fonts';

.video-playlist{
  position: relative;
  width:100%;
  height:100%;

  &__image{
    max-width: 40px;
  }

  &__results{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    padding-top: 26px;
    //height: calc(100% - 20px);
  }

  &__text{
    position: absolute;
    left:0;
    top:0;
    color:$c-white;
    font-size:$fs-desc;
    text-decoration: underline;
    cursor: pointer;
  }
}

.video-playlist--query{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
