.u-flex-center {
	display: flex;
  justify-content: center;
  align-items: center;
}

.u-flex-stack{
  flex-direction:column;
}

.u-flex-align--start{
  align-items: flex-start;
}

.u-flex-justify--start{
  justify-content: flex-start;
}

.u-flex-justify--center{
	justify-content: center;
}

.u-flex-justify--space{
  justify-content: space-between;
}
