@import 'media-queries';
@import 'fonts';
@import 'colors';
@import 'easings';
.landing {
	  display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background:    url('/assets/images/background_landing.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
