@font-face {
	font-family: 'lulobold';
  src: url('../assets/font/lulobold/lulo_clean_one_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lulo';
  src: url('../assets/font/lulobold/lulo_clean_one_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
	font-family: 'lulotwo';
	src: url('../dist/assets/font/lulotwo/lulotwo-webfont.eot');
	src: url('../dist/assets/font/lulotwo/lulotwo-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../dist/assets/font/lulotwo/lulotwo-webfont.woff') format('woff'),
			 url('../dist/assets/font/lulotwo/lulotwo-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/


/*@font-face {
	font-family: 'op';
	src: url('../dist/assets/font/op/oplight.eot');
	src: url('../dist/assets/font/op/oplight.eot?#iefix') format('embedded-opentype'),
			 url('../dist/assets/font/op/oplight.woff') format('woff'),
			 url('../dist/assets/font/op/oplight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/
