@import 'mixins';
@import 'colors';
.video-track {
    position: relative;
    max-width: 100%;
    margin: 0;
    .playing__wrapper {
        position: relative;
        display: flex;
        width: 100%;

        @include isSelected($color: $c-green);
    }

    &__playing {

    }
}

.video-track--bg{
  position: absolute;
  left:-10px;
  top:-10px;
  width: 140px;
  height: 110px;
  pointer-events:none;
}
