@import 'fonts';
.controls-record{
  position: relative;
  width: 20%;
  height: 20%;
  padding-right: 6px;
}

.controls-effects__status{
  div{
    font-size: $fs-desc;
  }
}

.record-btn{
    position:relative;
    background: url('/assets/images/button-record.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &:hover{
      background: url('/assets/images/button-record-hover.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
}

.controls-record__time{
  margin-bottom: 8px;
}
