// import variables
@import '../node_modules/rc-slider/assets/index.css';
@import 'mixins';
@import 'fonts';
@import 'colors';

body {
  overflow: hidden;
  font-family: $ff-base;
  font-size: $fs-base;
  line-height: 1.5;
  background: $c-grey-dark;
  -webkit-font-smoothing: antialiased;
}

#app{
 position: relative;
  width: 100vw;
  height: 100vh;

}

button:focus {outline:0 !important;}


*{
  box-sizing:border-box;
}
