@import 'colors';
@import 'fonts';
.chewb-error{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(255,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-family:$ff-lulobold;
    max-width: 70%;
    text-align: center;
  }
}
